<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Disk</title>
</head>
<body>
<h1>Disk diagnostic</h1>
<p>We will make badblocks search and smartctl</p>
<form th:action="@{/admin/diagnostic/diskChecker}" th:method="GET">
    <input name="partition"value="partition">
    <input name="type" value="type 1">
    <button type="submit" class="btn btn-primary">check and download</button>
</form>
<form th:action="@{/admin/diagnostic/diskChecker}" th:method="GET">
    <input name="partition" value="partition">
    <input name="type" value="type 0">
    <button type="submit" class="btn btn-primary">check</button>
</form>
<a th:href="@{/admin/diagnostic/diskReport}"><button type="submit" class="btn btn-primary">download file</button></a>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">device</th>
        <th scope="col">Serial number</th>
        <th scope="col">capacity</th>
        <th scope="col">Partitions</th>
        <th scope="col">Health test</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" th:text="${disk.id}"></th>
        <td th:text="${disk.device}"></td>
        <td th:text="${disk.serialNumber}"></td>
        <td th:text="${disk.capacity}"></td>
        <td th:text="${disk.partitions}"></td>
        <td th:text="${disk.healthTest}"></td>
    </tr>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>